In [2]:
import pandas as pd
df_list = [pd.read_csv('/content/drive/MyDrive/SOC/Data/AgEvidence/cover crops/cover_crops0.csv')]
df = pd.concat(df_list, axis = 0)
df

,review,rv,rvYear,rvUnits,startYear,studyLength,sampleDepth,controlValue,trtValue,percentChange,...,Type of Species,Soil Sample Depth,doi,title,authors,authors_abbrev,pubyear,journal,volume_issue,pages
0,Cover Crops,total carbon,1;2,Mg/ha,2011,2,0-60 cm,1.01,1.01,0.00,...,Non-legume,0-60 cm,10.1016/j.agee.2015.10.014,Using cover crops in headlands of organic grai...,"Welch, R.Y., Behnke, G.D., Davis, A.S., Masiun...",Welch et al.,2016,"Agriculture, Ecosystems and Environment",216,322-332
1,Cover Crops,total carbon,1;2,Mg/ha,2011,2,0-60 cm,1.01,1.01,0.00,...,Non-legume Mixture,0-60 cm,10.1016/j.agee.2015.10.014,Using cover crops in headlands of organic grai...,"Welch, R.Y., Behnke, G.D., Davis, A.S., Masiun...",Welch et al.,2016,"Agriculture, Ecosystems and Environment",216,322-332
2,Cover Crops,total carbon,1;2,Mg/ha,2011,2,0-60 cm,1.01,1.01,0.00,...,Non-legume + Legume Mixture,0-60 cm,10.1016/j.agee.2015.10.014,Using cover crops in headlands of organic grai...,"Welch, R.Y., Behnke, G.D., Davis, A.S., Masiun...",Welch et al.,2016,"Agriculture, Ecosystems and Environment",216,322-332
3,Cover Crops,total carbon,1;2,Mg/ha,2011,2,0-60 cm,1.09,1.09,0.00,...,Non-legume,0-60 cm,10.1016/j.agee.2015.10.014,Using cover crops in headlands of organic grai...,"Welch, R.Y., Behnke, G.D., Davis, A.S., Masiun...",Welch et al.,2016,"Agriculture, Ecosystems and Environment",216,322-332
4,Cover Crops,total carbon,1;2,Mg/ha,2011,2,0-60 cm,1.09,1.09,0.00,...,Non-legume Mixture,0-60 cm,10.1016/j.agee.2015.10.014,Using cover crops in headlands of organic grai...,"Welch, R.Y., Behnke, G.D., Davis, A.S., Masiun...",Welch et al.,2016,"Agriculture, Ecosystems and Environment",216,322-332
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,Cover Crops,cumulative nitrous oxide flux from soil April ...,1,kg N~2~O-N/ha,2003,2,NaN,0.30,0.31,3.33,...,Non-legume,Not measured,10.2134/jeq2005.0183,Nitrous oxide emissions from corn-soybean syst...,"Parkin, T.B., & Kaspar, T.C.",Parkin & Kaspar,2006,Journal of Environmental Quality,35(4),1496-1506
394,Cover Crops,cumulative nitrous oxide flux from soil April ...,2,kg N~2~O-N/ha,2003,2,NaN,6.96,2.14,-69.25,...,Non-legume,Not measured,10.2134/jeq2005.0183,Nitrous oxide emissions from corn-soybean syst...,"Parkin, T.B., & Kaspar, T.C.",Parkin & Kaspar,2006,Journal of Environmental Quality,35(4),1496-1506
395,Cover Crops,cumulative nitrous oxide flux from soil April ...,2,kg N~2~O-N/ha,2003,2,NaN,8.21,3.49,-57.49,...,Non-legume,Not measured,10.2134/jeq2005.0183,Nitrous oxide emissions from corn-soybean syst...,"Parkin, T.B., & Kaspar, T.C.",Parkin & Kaspar,2006,Journal of Environmental Quality,35(4),1496-1506
396,Cover Crops,cumulative nitrous oxide flux from soil April ...,2,kg N~2~O-N/ha,2003,2,NaN,11.30,15.40,36.28,...,Non-legume,Not measured,10.2134/jeq2005.0183,Nitrous oxide emissions from corn-soybean syst...,"Parkin, T.B., & Kaspar, T.C.",Parkin & Kaspar,2006,Journal of Environmental Quality,35(4),1496-1506
397,Cover Crops,cumulative nitrous oxide flux from soil April ...,2,kg N~2~O-N/ha,2003,2,NaN,2.41,7.33,204.15,...,Non-legume,Not measured,10.2134/jeq2005.0183,Nitrous oxide emissions from corn-soybean syst...,"Parkin, T.B., & Kaspar, T.C.",Parkin & Kaspar,2006,Journal of Environmental Quality,35(4),1496-1506

In [3]:
df.rv = df.rv.str.lower()

In [4]:
df = df.query('rv.str.contains("soil") and rv.str.contains("organic") and rv.str.contains("carbon") and not rv.str.contains("poc") and not rv.str.contains("particulate")', engine='python')

In [5]:
df.rv.value_counts()

soil organic carbon concentration                                 29
soil organic carbon                                               12
soil organic carbon (0-75 cm)                                      9
soil organic carbon (0-15 cm)                                      9
soil organic carbon (15-75 cm)                                     9
soil organic carbon in soybean (5-15 cm soil depth)                8
soil organic carbon in soybean (0-5 cm soil depth)                 7
soil organic carbon, corn for grain                                4
soil organic carbon after controlling for clay content             4
soil organic carbon, corn for silage                               4
soil organic carbon (0-5 cm depth)                                 4
soil organic carbon in topsoil                                     3
soil organic carbon 0-30 cm depth (spring)                         1
soil organic carbon (0-10 cm depth)                                1
soil organic carbon (10-20 cm depth)                               1
soil organic carbon (20-40 cm depth)                               1
soil organic carbon (40-60 cm depth)                               1
soil organic carbon in corn (0-5 cm soil depth)                    1
soil organic carbon (soc), spring sample (0-60 cm depth)           1
soil organic carbon (soc) in fall following cover crop, 0-15cm     1
Name: rv, dtype: int64

In [6]:
df.rvUnits.value_counts()

g/kg                   38
Mt/ha/layer/1 m/1 m    27
%                      24
Mg C/ha                 8
g/kg soil               5
mg/g soil               4
Mt/ha/yr                3
Mg/ha                   1
Name: rvUnits, dtype: int64

Convert Units

In [7]:
# change all g/kg variants to g/kg
units = list(df.rvUnits)
for i in range(len(units)):
    if "/kg" in units[i]:
        units[i] = "g/kg"

# df.rvUnits = units
# df.rvUnits.value_counts()

In [8]:
# change to percent
control_values = list(df.controlValue)
for i in range(len(units)):
    # g/100 g and % are already in percent
    if units[i] == "g/kg":
        control_values[i] *= 0.1

# df.controlValue = control_values

In [15]:
df.columns

Index(['review', 'rv', 'rvYear', 'rvUnits', 'startYear', 'studyLength',
       'sampleDepth', 'controlValue', 'trtValue', 'percentChange', 'norm',
       'Duration of Study', 'Number of Species', 'Type of Species',
       'Soil Sample Depth', 'doi', 'title', 'authors', 'authors_abbrev',
       'pubyear', 'journal', 'volume_issue', 'pages'],
      dtype='object')

In [30]:
feature_cols = [
    "rvUnits",
    "controlValue",
    "Type of Species",
    "Number of Species",
    "sampleDepth",
    "studyLength",
    "startYear",
    "norm"
]

In [31]:
X = df[feature_cols]
y = df['percentChange']

In [32]:
X.isnull().sum()

rvUnits              0
controlValue         0
Type of Species      0
Number of Species    0
sampleDepth          0
studyLength          0
startYear            0
norm                 0
dtype: int64

In [33]:
X.sampleDepth.value_counts()

0-30 cm     83
0-60 cm     18
0-100 cm     9
Name: sampleDepth, dtype: int64

In [34]:
X

,rvUnits,controlValue,Type of Species,Number of Species,sampleDepth,studyLength,startYear,norm
18,g/kg,36.4,Non-legume,Single species,0-30 cm,1,2008,2
19,g/kg soil,15.6,Non-legume,Single species,0-30 cm,2,2003,2
20,g/kg soil,26.9,Non-legume,Single species,0-30 cm,3,2014,2
21,g/kg soil,23.9,Non-legume,Single species,0-30 cm,3,2014,2
22,g/kg soil,26.9,Non-legume,Single species,0-30 cm,3,2014,2
...,...,...,...,...,...,...,...,...
166,Mg C/ha,38.8,Non-legume,Single species,0-30 cm,4,2014,2
167,Mg C/ha,27.0,Non-legume,Single species,0-30 cm,4,2014,2
168,Mg C/ha,27.0,Non-legume,Single species,0-30 cm,4,2014,2
169,Mg C/ha,37.4,Non-legume,Single species,0-30 cm,4,2014,2
170,Mg C/ha,37.4,Non-legume,Single species,0-30 cm,4,2014,2

In [35]:
from sklearn.preprocessing import OrdinalEncoder

encoder = OrdinalEncoder()
to_encode = ["Type of Species", "Number of Species", "sampleDepth", "rvUnits"]

X[to_encode] = encoder.fit_transform(X[to_encode])

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)

In [36]:
X

,rvUnits,controlValue,Type of Species,Number of Species,sampleDepth,studyLength,startYear,norm
18,5.0,36.4,0.0,0.0,1.0,1,2008,2
19,6.0,15.6,0.0,0.0,1.0,2,2003,2
20,6.0,26.9,0.0,0.0,1.0,3,2014,2
21,6.0,23.9,0.0,0.0,1.0,3,2014,2
22,6.0,26.9,0.0,0.0,1.0,3,2014,2
...,...,...,...,...,...,...,...,...
166,1.0,38.8,0.0,0.0,1.0,4,2014,2
167,1.0,27.0,0.0,0.0,1.0,4,2014,2
168,1.0,27.0,0.0,0.0,1.0,4,2014,2
169,1.0,37.4,0.0,0.0,1.0,4,2014,2
170,1.0,37.4,0.0,0.0,1.0,4,2014,2

In [37]:
X.fillna(0, inplace = True)
X.isnull().sum()

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5176: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

rvUnits              0
controlValue         0
Type of Species      0
Number of Species    0
sampleDepth          0
studyLength          0
startYear            0
norm                 0
dtype: int64

In [38]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [39]:
assert len(X_train) == len(y_train)
assert len(X_test) == len(y_test)

In [40]:
from sklearn.tree import DecisionTreeRegressor

dt = DecisionTreeRegressor()
dt.fit(X_train, y_train)

DecisionTreeRegressor()

In [41]:
preds = dt.predict(X_test)

In [42]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test, preds, squared = False)

11.975325599510258

In [43]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators = 500)
rf.fit(X_train, y_train)

RandomForestRegressor(n_estimators=500)

In [44]:
preds = rf.predict(X_test)
mean_squared_error(y_test, preds, squared = False)

11.036317817857816

In [46]:
df.groupby(['Type of Species', 'Number of Species']).agg({'percentChange': ['mean']})

                                          percentChange
                                                   mean
Type of Species         Number of Species
Non-legume              Single species         2.172344
Rotation of Cover Crops Single species         1.951304