In [134]:
import pandas as pd
df_list = [pd.read_csv('/content/drive/MyDrive/SOC/Data/AgEvidence/continuous cover/continuous cover0.csv')]
df = pd.concat(df_list, axis = 0)
df

,review,rv,rvYear,rvUnits,startYear,studyLength,sampleDepth,controlValue,trtValue,percentChange,...,authors_abbrev,pubyear,journal,volume_issue,pages,city,lat,lon,duration,order
0,Continuous Cover,volatilized ammonia during growing season,1;2,kg N/ha,2017,2,NaN,34.4,28.8,-16.28,...,Nyawade et al.,2020,Nutrient Cycling in Agroecosystems,117,43-59,Kabete,-1.25,36.74,2.0,3.0
1,Continuous Cover,volatilized ammonia during growing season,1;2,kg N/ha,2017,2,NaN,34.4,21.7,-36.92,...,Nyawade et al.,2020,Nutrient Cycling in Agroecosystems,117,43-59,Kabete,-1.25,36.74,2.0,3.0
2,Continuous Cover,volatilized ammonia during growing season,1;2,kg N/ha,2017,2,NaN,0.9,28.8,3100.00,...,Nyawade et al.,2020,Nutrient Cycling in Agroecosystems,117,43-59,Kabete,-1.25,36.74,2.0,3.0
3,Continuous Cover,volatilized ammonia during growing season,1;2,kg N/ha,2017,2,NaN,0.7,21.7,3000.00,...,Nyawade et al.,2020,Nutrient Cycling in Agroecosystems,117,43-59,Kabete,-1.25,36.74,2.0,3.0
4,Continuous Cover,volatilized ammonia during growing season,1;2,kg N/ha,2017,2,NaN,20.6,7.7,-62.62,...,Nyawade et al.,2020,Nutrient Cycling in Agroecosystems,117,43-59,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503,Continuous Cover,"metabolic quotient, 20-30 cm depth",3,RMS-mg/kg/d,2016,3,0-60 cm,39.5,37.7,-4.56,...,Nyawade et al.,2019,Applied Soil Ecology,142,123-135,NaN,NaN,NaN,NaN,NaN
504,Continuous Cover,"metabolic quotient, 20-30 cm depth",3,RMS-mg/kg/d,2016,3,0-60 cm,34.1,37.6,10.26,...,Nyawade et al.,2019,Applied Soil Ecology,142,123-135,NaN,NaN,NaN,NaN,NaN
505,Continuous Cover,"metabolic quotient, 20-30 cm depth",3,RMS-mg/kg/d,2016,3,0-60 cm,34.1,37.7,10.56,...,Nyawade et al.,2019,Applied Soil Ecology,142,123-135,NaN,NaN,NaN,NaN,NaN
506,Continuous Cover,"metabolic quotient, 20-30 cm depth",3,RMS-mg/kg/d,2016,3,0-60 cm,38.2,37.6,-1.57,...,Nyawade et al.,2019,Applied Soil Ecology,142,123-135,NaN,NaN,NaN,NaN,NaN
507,Continuous Cover,"metabolic quotient, 20-30 cm depth",3,RMS-mg/kg/d,2016,3,0-60 cm,38.2,37.7,-1.31,...,Nyawade et al.,2019,Applied Soil Ecology,142,123-135,NaN,NaN,NaN,NaN,NaN

In [135]:
df.rv = df.rv.str.lower()

In [163]:
df = df.query('rv.str.contains("carbon") or rv.str.contains("organic matter fraction")', engine='python')

In [164]:
df

,review,rv,rvYear,rvUnits,startYear,studyLength,sampleDepth,controlValue,trtValue,percentChange,...,bare soil_control,monocrop_control,intercrop_treatment,monocrop_treatment,alley crop_treatment,Tree_croptype,Bean_croptype,Bare Soil_croptype,Vegetable_croptype,Cereal_croptype
37,Continuous Cover,loss of total carbon due to erosion,1,kg/ha,1992,1,NaN,773.00,184.00,-76.20,...,1,0,0,1,0,0,0,1,0,0
38,Continuous Cover,loss of total carbon due to erosion,1,kg/ha,1992,1,NaN,773.00,101.00,-86.93,...,1,0,0,1,0,0,0,1,0,0
39,Continuous Cover,loss of total carbon due to erosion,1,kg/ha,1992,1,NaN,773.00,53.00,-93.14,...,1,0,1,0,0,0,0,1,0,0
40,Continuous Cover,loss of total carbon due to erosion,1,kg/ha,1992,1,NaN,184.00,53.00,-71.20,...,0,1,1,0,0,0,0,0,0,1
41,Continuous Cover,loss of total carbon due to erosion,1,kg/ha,1992,1,NaN,101.00,53.00,-47.52,...,0,1,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,Continuous Cover,total organic carbon,6,not provided,2010,15,0-30 cm,2.20,2.47,12.27,...,0,1,1,0,0,0,1,0,0,1
360,Continuous Cover,total organic carbon,6,not provided,2010,15,0-30 cm,2.45,2.47,0.82,...,0,1,1,0,0,0,1,0,0,1
361,Continuous Cover,total organic carbon,6,not provided,2003,15,0-30 cm,3.26,3.57,9.51,...,0,1,1,0,0,0,1,0,0,1
362,Continuous Cover,total organic carbon,15,not provided,2003,15,0-30 cm,2.40,4.67,94.58,...,0,1,1,0,0,0,1,0,0,1
363,Continuous Cover,percent total of soil organic carbon,1;2,%,2012,2,0-30 cm,1.78,1.83,0.05,...,0,1,0,0,1,1,0,0,0,1

In [138]:
df.rvUnits.value_counts()

mg C/kg         234
g/kg             47
kg/ha             5
not provided      4
%                 1
Name: rvUnits, dtype: int64

In [139]:
df.columns

Index(['review', 'rv', 'rvYear', 'rvUnits', 'startYear', 'studyLength',
       'sampleDepth', 'controlValue', 'trtValue', 'percentChange', 'norm',
       'studyduration', 'croptype', 'control', 'treatment', 'numspecies',
       'speciestype', 'fertilization', 'intent', 'sampledepth', 'mapregion',
       'doi', 'title', 'authors', 'authors_abbrev', 'pubyear', 'journal',
       'volume_issue', 'pages', 'city', 'lat', 'lon', 'duration', 'order'],
      dtype='object')

One-hot encoding

In [140]:
df["control"].value_counts()

["monocrop"]     261
["bare soil"]     30
Name: control, dtype: int64

In [141]:
def encode(data, variable):
    return int(variable in data)

In [142]:
import ast

In [143]:
controls = set()
for val, count in df["control"].value_counts().iteritems():    
    for control in ast.literal_eval(val):
        controls.add(control)
controls

{'bare soil', 'monocrop'}

In [144]:
treatments = set()
for val, count in df["treatment"].value_counts().iteritems():    
    for treatment in ast.literal_eval(val):
        treatments.add(treatment)
treatments

{'alley crop', 'intercrop', 'monocrop'}

In [145]:
croptype = set()
for val, count in df["croptype"].value_counts().iteritems():    
    for _croptype in ast.literal_eval(val):
        croptype.add(_croptype)
croptype

{'Bare Soil', 'Bean', 'Cereal', 'Tree', 'Vegetable'}

In [146]:
for x in controls:
    df[x + "_control"] = df['control'].apply(encode, args = [x])
    
for x in treatments:
    df[x + "_treatment"] = df['treatment'].apply(encode, args = [x])

for x in croptype:
    df[x + "_croptype"] = df['croptype'].apply(encode, args = [x])

<ipython-input-146-e200f13d0d2d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[x + "_control"] = df['control'].apply(encode, args = [x])
<ipython-input-146-e200f13d0d2d>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[x + "_treatment"] = df['treatment'].apply(encode, args = [x])
<ipython-input-146-e200f13d0d2d>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[x + "_croptype"] = df['croptype'].apply(encode, args = [x])

In [147]:
df.columns

Index(['review', 'rv', 'rvYear', 'rvUnits', 'startYear', 'studyLength',
       'sampleDepth', 'controlValue', 'trtValue', 'percentChange', 'norm',
       'studyduration', 'croptype', 'control', 'treatment', 'numspecies',
       'speciestype', 'fertilization', 'intent', 'sampledepth', 'mapregion',
       'doi', 'title', 'authors', 'authors_abbrev', 'pubyear', 'journal',
       'volume_issue', 'pages', 'city', 'lat', 'lon', 'duration', 'order',
       'bare soil_control', 'monocrop_control', 'intercrop_treatment',
       'monocrop_treatment', 'alley crop_treatment', 'Tree_croptype',
       'Bean_croptype', 'Bare Soil_croptype', 'Vegetable_croptype',
       'Cereal_croptype'],
      dtype='object')

In [148]:
feature_cols = [
    "rvUnits",
    "startYear",
    "studyLength",
    "sampleDepth",
    "controlValue",
    "norm",
    "numspecies",
    "speciestype",
    "fertilization",
    'bare soil_control', 'monocrop_control', 'intercrop_treatment',
       'monocrop_treatment', 'alley crop_treatment', 'Tree_croptype',
       'Bean_croptype', 'Bare Soil_croptype', 'Vegetable_croptype',
       'Cereal_croptype'
]

In [149]:
X = df[feature_cols]
y = df['percentChange']

In [150]:
X.isnull().sum()

rvUnits                  0
startYear                0
studyLength              0
sampleDepth             47
controlValue             0
norm                     0
numspecies               0
speciestype              0
fertilization            0
bare soil_control        0
monocrop_control         0
intercrop_treatment      0
monocrop_treatment       0
alley crop_treatment     0
Tree_croptype            0
Bean_croptype            0
Bare Soil_croptype       0
Vegetable_croptype       0
Cereal_croptype          0
dtype: int64

In [151]:
X.dtypes

rvUnits                  object
startYear                 int64
studyLength               int64
sampleDepth              object
controlValue            float64
norm                      int64
numspecies                int64
speciestype              object
fertilization            object
bare soil_control         int64
monocrop_control          int64
intercrop_treatment       int64
monocrop_treatment        int64
alley crop_treatment      int64
Tree_croptype             int64
Bean_croptype             int64
Bare Soil_croptype        int64
Vegetable_croptype        int64
Cereal_croptype           int64
dtype: object

In [152]:
from sklearn.preprocessing import OrdinalEncoder

encoder = OrdinalEncoder()
to_encode = ["rvUnits", "sampleDepth", "speciestype", "fertilization"]

X[to_encode] = encoder.fit_transform(X[to_encode])

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)

In [153]:
X.dtypes

rvUnits                 float64
startYear                 int64
studyLength               int64
sampleDepth             float64
controlValue            float64
norm                      int64
numspecies                int64
speciestype             float64
fertilization           float64
bare soil_control         int64
monocrop_control          int64
intercrop_treatment       int64
monocrop_treatment        int64
alley crop_treatment      int64
Tree_croptype             int64
Bean_croptype             int64
Bare Soil_croptype        int64
Vegetable_croptype        int64
Cereal_croptype           int64
dtype: object

In [154]:
X.fillna(0, inplace = True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5176: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [155]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [156]:
assert len(X_train) == len(y_train)
assert len(X_test) == len(y_test)

In [157]:
from sklearn.tree import DecisionTreeRegressor

dt = DecisionTreeRegressor()
dt.fit(X_train, y_train)

DecisionTreeRegressor()

In [158]:
preds = dt.predict(X_test)

In [159]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test, preds, squared = False)

33.5175987854964

In [160]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators = 500)
rf.fit(X_train, y_train)

RandomForestRegressor(n_estimators=500)

In [161]:
preds = rf.predict(X_test)
mean_squared_error(y_test, preds, squared = False)

31.01375210495418

In [162]:
df.groupby(['control', 'treatment']).agg({'percentChange': ['mean']})

                             percentChange
                                      mean
control       treatment
["bare soil"] ["intercrop"]      -9.519500
              ["monocrop"]       -1.861000
["monocrop"]  ["alley crop"]      0.050000
              ["intercrop"]      13.823308